In [1]:
person = {
    "first": "User",
    "last": "Another",
    "email": "User@company.com"
}

In [2]:
people = {
    "first": ["User"],
    "last": ["Another"],
    "email": ["User@company.com"]
}

In [3]:
people = {
    "first": ["User", "Jane", "John"],
    "last": ["Another", "Doe", "Doe"],
    "email": ["User@company.com", "Jane@company.com", "John@company.com"]
}

In [4]:
import pandas as pd

In [5]:
people['email']

['User@company.com', 'Jane@company.com', 'John@company.com']

In [6]:
df = pd.DataFrame(people)

In [7]:
df

  first     last             email
0  User  Another  User@company.com
1  Jane      Doe  Jane@company.com
2  John      Doe  John@company.com

In [10]:
# To get a particular list of data. In pandas it is called series.
# See cell [11] below. it returns an Nx1 series (N,)
df['first']

0    User
1    Jane
2    John
Name: first, dtype: object

In [11]:
type(df['first'])

pandas.core.series.Series

In [13]:
#To know the shape of the data
(df['first']).shape

(3,)

In [14]:
# To get back multiple columns
df[['last','email']]

      last             email
0  Another  User@company.com
1      Doe  Jane@company.com
2      Doe  John@company.com

In [15]:
#To view all the columns
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [17]:
# Note: python operations can be performed normally as in normal python environment and datastructure
for col in df.columns:
    if col.find('a') != -1:
        print(col)

last
email

In [18]:
# To get row, use loc and iloc indexers
# iloc permits access to rows by integer location
df.iloc[0]

first                User
last              Another
email    User@company.com
Name: 0, dtype: object

In [19]:
df.iloc[1]

first                Jane
last                  Doe
email    Jane@company.com
Name: 1, dtype: object

In [21]:
#Getting multiple rows
df.iloc[[0, 1]]

  first     last             email
0  User  Another  User@company.com
1  Jane      Doe  Jane@company.com

In [24]:
# fetching two rows(0 and 1) of a particular column (2)
# df.iloc[[list_of_rows], [list_of_col]]
df.iloc[[0, 1], 2]

0    User@company.com
1    Jane@company.com
Name: email, dtype: object

In [25]:
# With loc we are searching by label.
# These is when the rows have labels for index
df.loc[1]

first                Jane
last                  Doe
email    Jane@company.com
Name: 1, dtype: object

In [27]:
df.loc[[0,1], ['email', 'last']]

              email     last
0  User@company.com  Another
1  Jane@company.com      Doe